@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nerko One;
    scroll-behavior: smooth;
}

section{
    min-height: 100vh;;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#1f242d;
    color: white;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay:calc(0.2s * var(--i)) ;
}

.navbar a:hover,
.navbar a.active{
    color: turquoise;
}

#home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10px 0;
}

.home-content{
    max-width: 600px;
    margin-left: 50px;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}

.home-img img{
    max-width: 450px;
    margin-right: 100px;
    animation: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: 2px turquoise;
    animation: zoomIn 1s ease forwards;
    animation-delay: 0.7s;
    opacity: 0;
}

.home-content h3 span{
    color: turquoise;
    
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.7s;
}

.home-content p{
    font-size: 16px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    opacity: 0;
}

.social-media a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid turquoise;
    border-radius: 50%;
    font-size: 20px;
    color: turquoise;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease-in;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
    opacity: 0;
}

.social-media a:hover{
    background: turquoise;
    color: #1f242d;
    box-shadow: 0 0 20px turquoise;
}

.btn{
    display: inline-block;
    padding: 12px 28px;
    background: turquoise;
    border-radius: 40px;
    box-shadow: 0 0 10px turquoise;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    opacity: 0;
}

/* About Me Section */

.about-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px 0;
    margin-left: 50px;
}

.about-title{
    font-size: 56px;
}

.about-desc{
    font-size: 18px;
    margin-left: 300px;
}

.about-desc p{
    color: turquoise;
}

/* Skills */

.skills-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px 0;
    margin-left: 50px;
}

.skills-title{
    font-size: 56px;
}

.skill-content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
}

.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skill h5{
    font-size: 18px;
    color: turquoise;
}

.skills{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
}

.skill-container{
    background-color:whitesmoke;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.skill-container img{
    width: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

/* Project */

.project-container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px 10px 0;
    margin-left: 50px;
    justify-content: space-between;
}

.project-title{
    font-size: 56px;
    margin-top: -80%;
}

.project-content{
    margin-top: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.project-card-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 16px 14px 0 turquoise;
    padding: 18px 24px;
    max-width: 345px;
    max-height: 700px;
    min-height: 700px;
}

.project-card-container img{
    margin-bottom: 26px;
}

.project-card-container h3{
    font-size: 25px;
}

.project-card-container p{
    font-size: 18px;
    margin-top: 6px;
}

.project-card-container ul{
    width: 100%;
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
    list-style: none;
}

.project-card-container li{
    font-size: 25px;
    font-weight: 400;
    border-radius: 1000px;
    background-color: turquoise;
    padding: 2px 22px;
}

.project-card-container .project-links{
    width: 100%;
    margin-top: 26px;
    display: flex;
    justify-content: space-around;
}

.project-card-container .project-links a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    border-radius: 100px;
    padding: 1px 22px;
}

.project-card-container .project-links a:hover{
    color: turquoise;
}

/* contact me */

.contact-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 10px 0;
    margin-left: 50px;
}

.contact-title{
    font-size: 56px;
}

.contact-content{
    max-width: 600px;
    align-items: center;
    margin-right: 350px;
}

.contact-content a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

/* Animations */

.slideInRight{
    animation: slideRight 1.2s both;
}

.slideInLeft{
    animation: slideLeft 1.2s both;
}

.slideInTop{
    animation: slideTop 1.2s both;
}

.fadeIn{
    animation: fadeIn 5s;
}

@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes floating{
    0% {
        transform: translate(0,0px);
    }
    50% {
        transform: translate(0,10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn{
    0%{
        transform: scale(0);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn{
    0% {opacity: 0; }
    100% {opacity: 1;}
}